<%- include('../partials/header') %>

<main class="main" id="errorMain">
    <div class="container">
        <figure class="figure mx-auto w-50">
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNG01eXlpZmhvNThvenNvY3YyNGZxbHF6bGxqNzhtMTE0aHRpb3ZlbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MSU9sITGoHWMGGVn9n/giphy.gif" alt="404 Cars " class="img-fluid error-gif figure-img d-block mx-auto">
            <figcaption class="figure-caption text-center">
                VROOM VROOM 404!!!!!!!!!
            </figcaption>
        </figure>
    </div>
</main>

<%- include('../partials/footer') %>