<%- include('../partials/header') %>

    <main class="main" id="homeMain">
        <div class="container">
            <h2 class="text-center text-md-start">Welcome to my Home Page!</h2>
        </div>
    </main>

<%- include('../partials/footer') %>